*{
	padding:0;
	margin:0 auto;
}
.header{
  width:1150px;
  height:350px;
  background-color:purple;
  
}
.header img{
  width:1150px;
  height:350px;
}
.menu{
    width:1150px;
	height:50px;
	background-color:black;	
	}
.menu ul{
  padding-top:15px;
  
}
.menu ul li{
  list-style:none;
  float:left;
}
.menu ul li a{
 
  padding:18px;
  text-decoration:none;
  color:White;
  
}
.menu ul li a:hover{
	background-color:black;
	border-radius:5px 5px ;
}

.content{
	width:1150px;
	height:2000px;
	background-color:#F3F4F6;
	}
.content_left{
    width:850px;
	height:2000px;
	float:left;
	color:white;
}
.content_left img{
    Width:600px;
	Height:200px;
	border:2px solid black;
	float:left;
	margin-right:10px;
}
.content_left p{
   color:black;
   text-align:justify;
   margin-top:10px;
   margin-right:10px;
  
}
.post{
	margin-left:15px;
margin-bottom:35px;
}
.post h1{
padding-top:5px;
color:#940001;
margin-left:40px;
margin-bottom:15px;
}
.post img{
width:400px;
height:260px;
float:left;
margin-right:20px;
margin-bottom:10px;
border:7px solid #A01111;
border-radius:10px;
}
.post p{
color:black;
text-align:justify;
margin-right:40px;
}
.hr{


height:10px ;
width:1000px;
float:left;
margin-right:20px;

margin-bottom:10px;
}
.overlay_area{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
}
.overlay_area img{
 width:100%;
 height:100%;
 
 }
 .overlay{
  width:100%;
  height:100%;
  position:absolute;
  top:-100%;
  opacity:.5;
  transition:2s;
  background-color:#2AC1F6;
 }
 .overlay h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area:hover .overlay{
  top:0;
 }
.overlay_area2{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
}
.overlay_area2 img{
 width:100%;
 height:100%;
 
 }
 .overlay2{
  width:100%;
  height:100%;
  position:absolute;
  bottom:-100%;
  opacity:.5;
  transition:2s;
  background-color:#E62828;
 }
 .overlay2 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area2:hover .overlay2{
  bottom:0;
 }
 .overlay_area3{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
 top:0;
}
.overlay_area3 img{
 width:100%;
 height:100%;
 
 }
 .overlay3{
  width:100%;
  height:100%;
  position:absolute;
  left:-100%;
  opacity:.5;
  transition:2s;
  background-color:#2AC1F6;
 }
 .overlay3 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area3:hover .overlay3{
  top:0;
  left:0;
 }
 .overlay_area4{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
 top:0;
}
.overlay_area4 img{
 width:100%;
 height:100%;
 
 }
 .overlay4{
  width:100%;
  height:100%;
  position:absolute;
  right:-100%;
  opacity:.5;
  transition:2s;
  background-color:#2AC1F6;
 }
 .overlay4 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area4:hover .overlay4{
  top:0;
  right:0;
 }
 .overlay_area5{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
}
.overlay_area5 img{
 width:100%;
 height:100%;
 
 }
 .overlay5{
  width:100%;
  height:100%;
  position:absolute;
  top:-100%;
  opacity:.5;
  transition:2s;
  background-color:#2AC1F6;
 }
 .overlay5 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area5:hover .overlay5{
  top:0;
 }
 .overlay_area6{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
}
.overlay_area6 img{
 width:100%;
 height:100%;
 
 }
 .overlay6{
  width:100%;
  height:100%;
  position:absolute;
  top:-100%;
  opacity:.5;
  transition:2s;
  background-color:#ECB467;
 }
 .overlay6 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area6:hover .overlay6{
  top:0;
 }
 .overlay_area7{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
 top:0;
}
.overlay_area7 img{
 width:100%;
 height:100%;
 
 }
 .overlay7{
  width:100%;
  height:100%;
  position:absolute;
  left:-100%;
  opacity:.5;
  transition:2s;
  background-color:#8E9234;
 }
 .overlay7 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area7:hover .overlay7{
  top:0;
  left:0;
 }
 .overlay_area8{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
}
.overlay_area8 img{
 width:100%;
 height:100%;
 
 }
 .overlay8{
  width:100%;
  height:100%;
  position:absolute;
  top:-100%;
  opacity:.5;
  transition:2s;
  background-color:#1A1D01;
 }
 .overlay8 h1{
 color:red;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
 .overlay_area8:hover .overlay8{
  top:0;
 }
 .overlay_area9{
 width:380px;
 height:250px;
 float:left;
 position:relative;
 margin-left:10px;
 margin-top:10px;
 overflow:hidden;
 border:2px solid red;
 top:0;
}
.overlay_area9 img{
 width:100%;
 height:100%;
 
 }
.overlay9{
  width:100%;
  height:100%;
  position:absolute;
  right:-100%;
  opacity:.5;
  transition:2s;
  background-color:#2AC1F6;
 }
.overlay9 h1{
 color:black;
 text-align:center;
 margin:90px;
 border:2px solid #fff;
 }
.overlay_area9:hover .overlay9{
  top:0;
  right:0;
}
.content_right{
width:300px;
height:2000px;
background-color:#BFD4D9;
float:right;
color:#000;
}
.Most_favaourite_foods{
	margin:13px;

	border-radius:10px;
	
}

.Most_favaourite_foods ul{
	border:2px solid black;
	border-radius:10px;
	    margin-top: -12px;
	
}
.Most_favaourite_foods img{
	width:75px;
	height:65px;
	border:2px solid black;
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-top: 10px;
}
.Most_favaourite_foods p{
	text-align:justify;
	font-size: 13px;
    color: black;
	margin-left:15px;
	margin-right:15px;
	margin-top: 20px;

}
.Most_favaourite_foods h2{
	text-align:center;
 border: 2px solid black;
 border-radius: 10px;
 margin-bottom:10px;
 margin-bottom:10px;	
}
.recent_post{
	
	
}

.recent_post h2{
 text-align:center;
 border: 2px solid black;
 border-radius: 10px;
 margin-bottom:10px;
 
	
}

.recent_post ul li{
 list-style:none;
 margin-top:10px;
 padding-bottom: 15px;
 text-align:center;
 border-bottom:1px solid;
}
.recent_post ul li a{
 text-decoration:none;
 color:black;

	
}

.popular_post h2{
	text-align:center;
 border: 2px solid black;
 border-radius: 10px;
 margin-bottom:10px;
	
	
}
.popular_post img{
	width:80px;
	height:70px;
	float:left;
	margin-left:12px;
	margin-top:10px;
	border:2px solid black;
	border-radius:13px;	
}
.popular_post img:hover{
	opacity:.5;
}
.footer{

	width:1150px;
	height:300px;
	background-color:#D2BF9E;
	}
.footer_area{
width:240px;
height:200px;
float:left;
color:#black;
margin-top:65px;
margin-left:45px;
}
.footer_area h1{
 margin-bottom:5px;
 padding-left:60px;
 color:#A01111;
 border:2px solid black;
 border-radius:7px;
 
}
.aston img{
  border:5px solid #53E2FF ;
  float:left;
  margin-right:10px;
 
}
.aston p{
  text-align:justify;
  margin-left:10px;
  
}
.aston header{
  text-transform:uppercase;
  margin-left:40px;
  border:1px solid red;
  color:red;
  
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
.gallery img {
  width: 177px;
  height: auto;
}
.desc {

  padding: 15px;
  text-align: center;
  color:black;
}
.gallery:hover {
  border: 1px solid #777;
}
/* ==========fORM CSS=======	 */	
input[type="submit"],input[type="reset"]{
width:100px;
height:35px;
background-color:orange;
border:none;
color:white;
text-transform:uppercase;
border-radius:5px;
}
input[type="reset"]{
background-color:red;
}
input[type="submit"]:hover{
background-color:green;
transition:1s;
}
input[type="reset"]:hover{
background-color:green;
transition:1s;
}
input[type="text"],input[type="number"],input[type="email"],input[type="date"],input[type="password"]{
width:200px;
height:40px;
font-size:15px;
margin:5px;
padding:10px;
border-radius:5px;
}
input[type=radio]{

}























